
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-all-m);
  background-color: var(--navbar-background-color);
  color: var(--text-color);
}

.logo {
  display: flex;
  align-items: center;
}

.guild-logo {
  height: 50px;
  margin-right: var(--gap-nav);
}

h1 {
  font-family: var(--font-title);
  color: var(--title-color); /* Or */
}

.nav-links {
  display: flex;
  gap: var(--gap-nav);
}

.nav-links a, .logout-button {
  text-decoration: none;
  font-family: var(--font-nav); /* Utilisation de Merriweather pour le menu */
  font-weight: 700; /* Texte plus épais */
  color: var(--text-color);
  font-size: var(--font-size-nav);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-links a {
  background-color: transparent; /* Liens sans fond par défaut */
}

.nav-links a:hover {
  background-color: var(--link-hover-bg); /* Couleur de fond au hover */
  color: #000;
  transform: scale(1.05); /* Zoom léger au hover */
  box-shadow: var(--link-hover-shadow); /* Ombre pour effet de bouton */
}

/* Style des icônes de navigation */
.nav-icon {
  display: flex;
  align-items: center;
  gap: var(--gap-nav);
}

/* Style spécifique pour le bouton de déconnexion */
.logout-button {
  background-color: var(--button-color);
  font-family: var(--font-nav); /* Utilisation de Merriweather pour cohérence */
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--shadow-color);
  transition: background-color var(--transition-speed), transform var(--transition-speed), color var(--transition-speed), box-shadow var(--transition-speed);
  cursor: pointer;
  border: none;
}

.logout-button:hover {
  background-color: var(--button-hover-color); /* Rouge vif au survol */
  transform: scale(1.1);
  box-shadow: var(--hover-shadow-color);
}