/* Styles pour la pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 4px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
}

.pagination button.active {
    background-color: #1abc9c;
    color: #fff;
}

.pagination button:hover {
    background-color: #bdbdbd;
}
