{# templates/security/login.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Connexion Administrateur{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/backoffice.css') }}">
    <!-- Inclure les icônes Font Awesome pour les icônes du menu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-eZODsckG+wExXGDC9t83fth8eQm2xlYcP3on6DB1oO25dVxBIQgFwT9A6NJl4Pld" crossorigin="anonymous">
<!-- CSS de Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- JS de Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

{% block body %}
    <div class="login-container">
        <h1 class="page-title">Connexion Administrateur</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form method="post">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" id="inputEmail" name="email" class="form-control" value="{{ last_username }}" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" id="inputPassword" name="password" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn" type="submit">
                Se connecter
            </button>
        </form>
    </div>
{% endblock %}
