{# templates/admin/new_raidtier.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer un RaidTier{% endblock %}

{% block body %}
    <h1>Créer un Nouveau RaidTier</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Créer</button>
    {{ form_end(form) }}
{% endblock %}
